/*palette: https://colorhunt.co/palette/1504*/

/************* TAG SELECTORS ***********/

body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E
}

h1{
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  /* font-weight: normal; */
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a{
  color: #11999E;
}

hr{
  border-style: dotted none none;
  border-color: #EAF6F6;
  border-width: 5px;
  /* height: 0; */
  width: 5%;
}

/************* CLASS SELECTORS ***********/

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

/* .middle-container{
}

.bottom-container{
} */

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px;
  text-align: left;
  line-height: 2;
}

.computer-img{
  width: 25%;
  float:left;
  margin-right: 30px;
}

.chilli-img{
  width: 25%;
  float:right;
  margin-left: 30px;
}

.vyom-img{
  margin-top: 50px;
}

.bio-para{
  width: 40%;
  margin: 0 auto 50px;
  line-height: 2;
}

.skills{
  margin-top: 75px;
}

.contact-me{
  margin-top: 75px;
}

.contactme-desc{
  margin: 50px auto;
  width: 50%;
  line-height: 2;
}

.bottom-container{
  margin-top: 50px;
  background-color: #66BFBF;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer-link{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  text-decoration: none;
  margin-left: 30px;
  font-weight: bold;
}

.footer-link:hover{
  color: #EAF6F6;
}

.copyright-info{
  color: white;
  font-size: 0.75rem;
  margin-top: 35px;
}

/* .btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: linear-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 40px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 0px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
} */
/************* ID SELECTORS ***********/
